version: '3.8'

services:
  web:
    build: .
    command: sh -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./src:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: always
    environment:
      - DEBUG=1
      - SECRET_KEY=dev_secret_key
      - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] 192.168.1.124
      - SQL_ENGINE=django.db.backends.postgresql
      - SQL_DATABASE=web_viewer_db
      - SQL_USER=postgres
      - SQL_PASSWORD=postgres
      - SQL_HOST=db
      - SQL_PORT=5432

  db:
    # 資料庫僅在容器間連線，不對外暴露端口 (Internal only)
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=web_viewer_db

volumes:
  postgres_data:
